if events.numComments > 0
    hr
    h3 #{events.num} Comment(s)
    .comments.show
    each comment in comments
        .comment.card
            .numbers.like-badge
                .number
                    span.number.num-votes= event.numLikes
            .button
                a.like(href='#', data-id=comment.id)
                    i.fa.fa-thumbs-up
                    | 
                    | Like

            .card-body
                .content= comment.content
                    .row.card-body
                        .col-sm
                        .col-sm.text-right
                            .author
                            | commented on #{moment(comment.createdAt).format('YYYY-MM-DD')}
                            if comment.author
                                | 
                                | by #[a(href=`/users/${comment.author.id}`)= comment.author.name]

form(action=`/events/${event.id}/comments`, method='POST')
    .form-group
    label(for='comment') Q&amp;A
    textarea.form-control(name="content", rows="5")
    button.btn.btn-primary(type="submit") Post Your Comment