
.form-group
  label(for="title") Title
  input.form-control(type="text", name="title", placeholder="Name of Event", value=event.title)
.form-group
  label(for="group_name") Group Name
  input.form-control(type="text", name="group_name", placeholder="Name of Group", value=event.group_name)
.form-group
  label(for="about_group") About Group
  textarea.form-control(name="about_group", rows="2", value= event.about_group)
.container
  .row
    .col-6
      .form-group
        label(for="eventtype") Event Type
        select.form-control(name="eventtype", value = event.eventtype)
          option 교육/강연
          option 전시/박람회
          option 세미나/컨퍼런스
          option 문화/예술
          option 소모임
          option 기타
    .col-6
      .form-group
        label(for="eventtopic") Event Topic
        select.form-control(name="eventtopic", value=event.eventtopic)
          option 과학/기술
          option 취미
          option 음악
          option 미술
          option 라이프스타일
          option 비즈니스
          option 스포츠
          option 여행
          option 기타	
.form-group
  label(for="p_num") 참가 가능 인원
  input.form-control(type="text", name="total person number", placeholder="", value=event.total_p_num)
.form-group
  label(for="place") 장소
  input.form-control(type="text", name="place", placeholder="", value=event.place)
//- .form-group
//-   include untitled
//- .form-group
//-   input.form-control(type="text",name="starttime", value=event.starttime)
//- script.
//-   $('#sandbox-container input').datepicker({
//-     maxViewMode: 2,
//-     todayBtn: true,
//-     language: "kr",
//-     autoclose: true,
//-     todayHighlight: true
//-   });
input(type='text', name='daterange', value='')
script(type='text/javascript').
  $(function() {
    $('input[name="daterange"]').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
      format: 'MM/DD/YYYY h:mm A'
    }
  });
  });
.container
  .row
    .col-12
      label(for="cost") 이벤트 가격
    .col-3
      .form-check
        label.form-check-label
          input#costFree.form-check-input(type="radio" name="exampleRadios" checked="" value =event.cost)
          |             FREE

    .col-3
      .form-check
        .input-group
          span.input-group-addon
            input#cost(type="radio" name="exampleRadios")
          input.form-control(type="text" aria-label="How about the cost?" value =event.cost)
          span.input-group-addon 원

.form-group
  label(for="content") Contents
  textarea.form-control(name="content", rows="10")= event.content

.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=event.tags ? event.tags.join(" ") : "")

