.container
  .row
    .col-4
      .event.show
        .card
          ul.list-group.list-group-flush
            li.list-group-item 
              h5 등록그룹명
              .group_name= event.group_name
            li.list-group-item
              h5 그룹 설명
              .about_group= event.about_group
            li.list-group-item
              h5 이벤트 종류
              .eventtype= event.eventtype
            li.list-group-item
              h5 이벤트 주제
              .eventtopic= event.eventtopic
            li.list-group-item
              h5 시간
              .daterange= event.daterange
            li.list-group-item 
              h5 가격
              if(event.cost==null)
                .cost Free
              else
                .cost= event.cost
              
            li.list-group-item 
              h5 장소
              .place= event.place
            li.list-group-item
              h5 신청 가능 인원
              .total_p_num= event.total_p_num
            //- li.list-group-item
            //-   h5 사진
            //-   .img= event.img

    .col-8    
      .card
        ul.list-group.list-group-flush
          li.list-group-item 
            h4 이벤트 설명
            .content= event.content

  

  //- include _event

  script.
    $(function() {
      $('.delete-btn').click(function() {
        if (confirm('Are you sure to delete?')) {
          location = $(this).data('url');
        }
        return false;
      });
    });
