extends ../layout

block content
  .container
    h1.main-title= events.title

    .events.show
      .group_name= events.group_name
      .about_group= events.about_group
      .eventtype= event.eventtype
      .eventtopic= event.eventtopic
      .content= events.content
      .cost = event.cost
      include _event

      .buttons
        button.btn.btn-primary #[i.fa.fa-thumbs-up] Like
        | 
        a.btn.btn-outline-secondary(href=`/events/${event.id}/edit`) Edit
        | 
        a.btn.btn-outline-danger.delete-btn(href="#", data-url=`/events/${event.id}?_method=delete`) Delete
      
    //- if events.numAnswer > 0
    //-   hr
    //-   h3 #{events.num} Answer(s)
    //-   .answers.show
    //-     each answer in answers
    //-       include _answer

    //- form(action=`/events/${event.id}/answers`, method='POST')
    //-   .form-group
    //-     label(for='answer') Your Answer
    //-     textarea.form-control(name="content", rows="5")
    //-   button.btn.btn-primary(type="submit") Post Your Answer

  script.
    $(function() {
      $('.delete-btn').click(function() {
        if (confirm('Are you sure to delete?')) {
          location = $(this).data('url');
        }
        return false;
      });
    });
